@font-face {
    font-family: Barlow-Medium;
    src: url(./assets/font/Barlow-Medium.ttf);
}

@font-face {
    font-family: Barlow-Bold;
    src: url(./assets/font/Barlow-Bold.ttf);
}

@font-face {
    font-family: Barlow-Black;
    src: url(./assets/font/Barlow-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1110px;
    overflow-x: hidden;
}

nav {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

nav img {
    max-width: 40px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-family: Barlow-Bold;
    font-size: 16px;
    line-height: 26px;
    color: #162542;
    background-color: #E8EFF2;
    padding: 16px 26px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}

nav a:hover {
    background-color: #162542;
    color: #fff;
}

.head {
    display: flex;
    gap: 125px;
    margin-bottom: 30px;
    position: relative;
}

.head>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head>div:last-child {
    width: 100%;
}

h1 {
    font-family: Barlow-Black;
    text-transform: uppercase;
    color: #162542;
    line-height: 56px;
    font-size: 56px;
    margin-bottom: 24px;
}

.head p {
    font-family: Barlow-Medium;
    color: #7B8BAD;
    font-size: 18px;
    margin-bottom: 40px;
}

.head a {
    display: inline-block;
    text-decoration: none;
    font-family: Barlow-Bold;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    background-color: #F16718;
    padding: 16px 26px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}

.head a:hover {
    background-color: #FF9B62;
}

.head span {
    font-family: Barlow-Bold;
    color: #7B8BAD;
    text-transform: uppercase;
    margin-left: 40px;
}

.head img {
    max-width: 540px;
    border-radius: 20px;
}

.head:after {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 50%;
    background-color: #E8EFF2;
    border-radius: 20px;
    top: 0;
    right: calc(-100vw - 30px);
}

.description {
    display: flex;
    margin-bottom: 168px;
    position: relative;
    gap: 30px;
}

.description div:first-child {
    background-color: #f16818;
    border-radius: 20px;
}

.description div:first-child img {
    mix-blend-mode: multiply;
    border-radius: 20px;
    filter: saturate(0);
    opacity: 0.75;
}

.description div:nth-child(2) img {
    border-radius: 20px;
}

.description div:last-child {
    max-width: 255px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description:after {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 50%;
    background-color: #E8EFF2;
    border-radius: 20px;
    bottom: 0;
    left: calc(-100vw - 30px);
}

.description h2 {
    font-family: Barlow-Black;
    font-size: 32px;
    line-height: 36px;
    color: #162542;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.description p {
    font-family: Barlow-Medium;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.benefits {
    display: flex;
    gap: 30px;
    margin-bottom: 128px;
}

.benefits .icon {
    width: 65px;
    height: 65px;
    background-color: #F16718;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 48px;
}

.benefits .icon img {
    height: 100%;
    object-fit: contain;
}

.benefits h3 {
    font-family: Barlow-Black;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
    margin-bottom: 24px;
}

.benefits p {
    font-family: Barlow-Medium;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

footer {
    font-family: Barlow-Medium;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7B8BAD;
    margin-bottom: 40px;
}

footer span {
    font-family: Barlow-Bold;
}

@media (max-width: 769px) {
    nav {
        padding: 40px;
        margin-bottom: 62px;
    }

    .head {
        padding-left: 40px;
        gap: 70px;
    }

    .head h1 {
        font-size: 48px;
        line-height: 48px;
    }

    .head p {
        font-size: 16px;
    }

    .head img {
        height: 100%;
        width: auto;
        border-radius: 20px 0 0 20px;
        max-height: 425px;
    }

    .head span {
        margin-left: 35px;
    }

    .head>div:first-child {
        min-width: 340px;
    }

    .head:after,
    .description:after {
        display: none;
    }

    .description {
        flex-wrap: wrap;
        padding: 30px;
        justify-content: space-between;
        row-gap: 70px;
    }

    .description div:first-child {
        width: 100%;
        max-width: 214px;
    }

    .description div:nth-child(2) {
        width: 100%;
        max-width: 445px;
    }

    .description div:last-child {
        margin: 0;
        max-width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .description h2 {
        margin: 0;
        margin-right: 110px;
    }

    .benefits {
        padding: 0 40px;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .benefits>div {
        width: calc(50% - 15px);
    }
}